{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{# titulo #}
{% block titulo %}
ISFD Tobar Garcia - La Rioja
{% endblock %}
{# contenido #}
{% block body %}

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url({{ asset('img/slide1.png') }})">
        <div class="carousel-caption d-none d-md-block">
        <div style='background-color: #CD5C5C'>
          <h1>PREINSCRIPCIONES ABIERTAS PARA EL AÑO 2020</h1>
          <p>Hace Click en Login para Registrarte y Cargar el Formulario de Preinscripción</p>
        </div>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({{ asset('img/slide2.png') }})">
        <div class="carousel-caption d-none d-md-block">
        <div style='background-color: #CD5C5C'>
        <h1>PREINSCRIPCIONES ABIERTAS PARA EL AÑO 2020</h1>
        <p>Hace Click en Login para Registrarte y Cargar el Formulario de Pre Inscripción</p>
        </div>
      </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url({{ asset('img/slide3.png') }})">
        <div class="carousel-caption d-none d-md-block">
      <div style='background-color: #CD5C5C'>
      <h1>PREINSCRIPCIONES ABIERTAS PARA EL AÑO 2020</h1>
      <p>Hace Click en Login para Registrarte y Cargar el Formulario de Pre Inscripción</p>
      </div>.
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">OFERTA ACADÉMICA
    <small>Carreras con Título Nacional</small>
  </h1>



  <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Profesor/a de Educación Especial con Orientación en Ciegos y Disminuidos Visuales</a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
      PERFIL DEL EGRESADO: La propuesta curricular elaborada en el presente Diseño plantea un cambio de paradigma respecto de la concepción de sujeto pedagógico. Desde esta perspectiva es considerado como multidimensional y en muchos aspectos impredecible. Al plantear que el mismo no es lineal, sino que está en estrecha relación con el entorno, los resultados de aprendizaje y la familia. Al mismo tiempo, la vigencia del principio de normalización, no supone excluir la discapacidad, sino que se funda en la concepción de una escuela “de y para todas las personas”, una escuela abierta a la diversidad y a la inclusión. Por consiguiente, y desde esta visión holística, se incorpora en la escena educativa no sólo la concepción neurofisiopsicológica del alumno con discapacidad, sino también su relación vincular con la comunidad en general y con la escuela en particular.
Este posicionamiento, conlleva la necesidad de reformular la propuesta de formación de los futuros profesores con Orientación en Ciegos y Disminuidos Visuales, desde los actuales enfoques, epistemológicos, y metodológicos para el desempeño docente en diferentes contextos.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Profesor/a de Educación Especial con Orientación en Discapacidad Intelectual
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
          PERFIL DEL EGRESADO: El egresado como Profesor en Educación Especial con orientación en Discapacidad Intelectual podrá desempeñarse con eficacia, eficiencia, responsabilidad y sentido humanitario en equipos tanto transdisciplinario como interdisciplinarios, en todas las áreas y campos profesionales de la educación, en escuelas especiales como en escuelas comunes de todos los niveles y modalidades, en Centros Terapéuticos y de Rehabilitación, Centros de Día, Orientación en la Formación Laboral de los jóvenes y adultos con discapacidad intelectual, asesorar y orientar en la realización de adaptaciones curriculares, todo esto se logrará a través de la utilización de recursos teóricos-metodológicos y técnicos.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Profesor/a de Educación Especial con Orientación en Discapacidad Neuromotora.
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
        PERFIL DEL EGRESADO: El profesor de educación especial debe concebirse como un profesional del campo de la educación participe en la transformación de la realidad , que contextualice la diversidad educativa abordando y reconociendo las múltiples dimensiones que ínter juegan y definen los escenarios escolares, priorizando los aspectos sobre los que deba intervenir desde su función específica que es “la enseñanza”.
El profesor de educación especial concebirá al alumno como sujeto político, sujeto de derecho y asumirá la responsabilidad en su formación integral teniendo en cuenta la responsabilidad que le compete a la familia y la sociedad toda.
El profesor de educación especial promoverá en los alumnos con discapacidad neuromotora el logro máximo de su desarrollo personal y social, en diferentes ámbitos: educativo, social y laboral.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Profesor/a de Educación Especial con Orientación en Sordos e Hipoacusicos.</a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          PERFIL DEL EGRESADO: Los escenarios donde los estudiantes, futuros docentes, llevaran adelante su tarea requiere de Profesionales de la Educación capaces de generar innovaciones educativas, que les permitan a los alumnos con discapacidad auditiva, transitar sus trayectorias educativas, para lo cual se requiere un profesional que respete las diferencias cualquiera sea su origen y que despliegue frente a ellas estrategias de abordaje pedagógicos que den respuesta a las mismas.
Para cumplir con este propósito, la formación que se brinda procura desarrollar en nuestros estudiantes la capacidad de reflexión-crítica sobre su propia práctica, para dar respuestas adecuadas a las necesidades de los sujetos y el contexto en el cual estos se encuentran, crearan sus propias hipótesis, formularan sus propios interrogantes, recogerán datos confrontando su validez y su aplicación en la práctica de manera constantes. Por ello la investigación, más allá de lo didáctico, se convierte en una cultura profesional orientada hacia un proceso de reflexión, con una predisposición ampliamente crítica de las intervenciones educativas.
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->

{% endblock %}
