{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}

{% block titulo %}
login
{% endblock %}
{# contenido #}
{% block body %}

<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Sigedu
    <small>login de Usuarios</small>
  </h1>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
    {% if error %}
        <h2>{{ error.messageKey|trans(error.messageData, 'security') }}</h2>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
    <div class="control-group form-group">
      <div class="controls">
             <label for="username">Username:</label>
             <input class="form-control"type="text" id="username" name="_username" value="{{ last_username }}"/>
       </div>
    </div>
    <div class="control-group form-group">
      <div class="controls">
        <label for="password">Password:</label>
        <input class="form-control" type="password"  id="password" name="_password"/>
        </div>
     </div>

          <button class="btn btn-primary" type="submit">login</button>
    </form>
    </div>
    <div class="col-lg-6">
      <h3>¿ Para que Registrarse ?</h3>
      <p>Con el registro de usuario podrás realizar inscripciones de</p>
      <p>cursadas y examenes finales en todas las materias, hacer un seguimiento</p>
      <p>de la historia académica como alumno, descargar certificado de</p>
      <p> alumno regular etc. </p>
      <p>Si aún no te has registrado, haz click en este enlace de</p>
      <p><strong><a href="{{path('registro')}}">REGISTRACION</strong></p>
    </div>
  </div>
  <!-- /.row -->

</div>
{% endblock %}
