{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{% block titulo %}
ISFD Tobar Garcia - Datos alumno
{% endblock %}
{# contenido #}
{% block body %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Requisitos
    <small> para concurrir a la inscripción definitiva:</small>
  </h1>

   <p><a>&nbsp;</a></p>
   <p><a> - Fotocopia autenticada de DNI.</a></p>

   <p><a> - 3 Fotos 4x4.</a></p>

   <p> - Fotocopia autenticada del título secundario, polimodal o constancia de título en trámite.</p>

   <p><a> - Certificados de pruebas auditivas y oftalmológicas ( no son excluyentes).</a></p>

   <p><a> - Certificado de domicilio.</a></p>

   <p><a> - Certificado de prestación de servicios (en caso de trabajar).</a></p>

   <p><a> - Carpeta transparente.</a></p>

   <p><a> - Realizar el curso introductorio.</a></p>

   <p><a> - Contibucion Academica Anual $500 (opcional en dos partes) - Cta Oficial Banco Nacion 3254740830</a></p>


</div>
<!-- /.container -->
{% endblock %}
